streamlit
pandas
plotly
psycopg2
requests
yfinance
datetime
plotly.graph_objects
numpy 
talib
tweepy
config 
yahoo_fin
io
requests_html
yahoo_fin.stock_info 
matplotlib.pyplot 
mplfinance 
altair
ufflinks 
finplot 
streamlit.components.v1